<div class="sidenav hidden-scroll">
  <div class="sidenav-top"></div>
  <div class="sidenav-navigation">
    <div class="sidenav-navigation-logo">
      <div class="sidenav-navigation-img">
        <img src="/assets/images/logo.jpg" alt="" />
        <i class="fa-solid fa-pencil"></i>
      </div>
    </div>
    <ul class="sidenav-navigation-links">
      <li>
        <span><i class="fa-solid fa-house"></i></span>
        Home
      </li>
      <li>
        <i class="fa-solid fa-users-line"></i>
        Clientes
      </li>
      <li class="active">
        <i class="fa-solid fa-bag-shopping"></i>
        Ventas
      </li>
      <li>
        <i class="fa-solid fa-clipboard-list"></i>
        Compras
      </li>
      <li>
        <i class="fa-solid fa-cash-register"></i>
        Caja
      </li>
      <li>
        <i class="fa-solid fa-cash-register"></i>
        Inventario
      </li>
      <li>
        <i class="fa-solid fa-tag"></i>
        Productos
      </li>
      <li>
        <i class="fa-solid fa-chart-pie"></i>
        Reportes
      </li>
    </ul>
    <div class="sidenav-navigation-buttons">
      <button class="btn1">CERRAR CAJA</button>
      <button class="btn1">SALIR</button>
    </div>
  </div>
</div>
