<div>
  <div class="search-bar-container">
    <div class="content-wrapper">
      <div class="search-bar-input-control">
        <input [formControl]="searchBarControl" placeholder="Buscar Producto" type="text">
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
    </div>
  </div>
  <div class="content-wrapper">
    <section class="products">
      <div class="products-grid">
        <div *ngFor="let p of products" class="products-product">
          <article class="products-product-info">
            <img src="{{ p.image }}" alt="" />
            <p class="products-product-info-name">{{ p.name }}</p>
            <p class="products-product-info-price">{{ p.price }}</p>
          </article>
          <div class="products-product-controls">
            <div class="products-product-controls-grid">
              <div class="products-product-controls-decrease">
                <i class="fa-solid fa-minus"></i>
              </div>
              <div class="products-product-controls-detail">
                0
              </div>
              <div class="products-product-controls-increase">
                <i class="fa-solid fa-plus"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
