<div class="cart-container">
  <div class="cart">
    <div class="cart-header">
      <div class="cart-header-figure">
        <i class="fa-solid fa-cart-shopping cart-header-figure-icon"></i>
        <p class="cart-header-figure-description">Carrito de Compras</p>
      </div>
      <div class="cart-header-total">
        <div class="cart-header-total-content">
          <p class="cart-header-total-content-label">Total</p>
          <p class="cart-header-total-content-value">${{ total }}</p>
        </div>
      </div>
    </div>
    <div class="cart-details">
      <div class="cart-details-items">
        <div class="cart-details-item">
					<div class="cart-details-item-detail">
						<p class="cart-details-item-detail-name">Chocolatina Jet</p>
						<p class="cart-details-item-detail-price">$25000 x2</p>
					</div>
					<div class="cart-details-item-trash-icon">
						<i class="fa-solid fa-trash-can"></i>
					</div>
				</div>
      </div>
    </div>
    <div class="cart-sale">asdfasdf</div>
  </div>
</div>
