<div class="cart-container hidden-scroll">
  <div class="cart">
    <div class="cart-header">
      <div class="cart-header-figure">
        <i class="fa-solid fa-cart-shopping cart-header-figure-icon"></i>
        <p class="cart-header-figure-description">Carrito de Compras</p>
      </div>
      <div class="cart-header-total">
        <div class="cart-header-total-content">
          <p class="cart-header-total-content-label">Total</p>
          <p class="cart-header-total-content-value">{{ total | currency:'':'symbol':'0.0-0' }}</p>
        </div>
      </div>
    </div>
    <div class="cart-details hidden-scroll">
      <div class="cart-details-items">
        <div *ngFor="let ci of cartItems" class="cart-details-item">
					<div class="cart-details-item-detail">
						<p class="cart-details-item-detail-name">{{ ci.name }}</p>
						<p class="cart-details-item-detail-price">{{ ci.price | currency:'':'symbol':'0.0-0' }} x{{ ci.addedQuantity }}</p>
					</div>
					<div class="cart-details-item-trash-icon">
						<i  (click)="removeItemFromCart(ci)" class="fa-solid fa-trash-can"></i>
					</div>
				</div>
      </div>
    </div>
    <div class="cart-sale">
      <input [formControl]="phoneNumberControl" class="input1" type="text" placeholder="celular">
      <button (click)="openSaleModal()" [disabled]="phoneNumberControl.invalid || !(cartItems.length > 0)" class="btn1">VENDER</button>
    </div>
  </div>
</div>


<div id="sale-modal" class="modal">
  <!-- Modal content -->
  <div class="modal-content sale-modal">
    <!-- span data-close class="close">&times;</span -->
    <div class="sale-modal-steps">
      <div *ngIf="currentSaleStep">
        <div [ngSwitch]="currentSaleStep">

          <div *ngSwitchCase="'CHOSE_PAYMENT_METHOD'">
            <div class="sale-modal-steps-step">
              <h1 class="sale-modal-steps-step-title title1">Método de Pago</h1>
              <p class="sale-modal-steps-step-description description-text">Elija el método de pago de tu cliente</p>
              <div class="sale-modal-steps-step-payment-methods">
                <div class="sale-modal-steps-step-payment-methods-method method1">
                  <div class="sale-modal-steps-step-payment-methods-method-wrapper">
                    <i [ngClass]="{'selected-payment-method': paymentMethodControl.value == 'EFECTIVO'}" (click)="selectPaymentMethdo('EFECTIVO')" class="fa-solid fa-money-bill"></i>
                    <p class="sale-modal-steps-step-payment-methods-method-description description-text">Efectivo</p>
                  </div>
                </div>
                
                <div class="sale-modal-steps-step-payment-methods-method method2">
                  <div class="sale-modal-steps-step-payment-methods-method-wrapper">
                    <i [ngClass]="{'selected-payment-method': paymentMethodControl.value == 'MOVI'}" (click)="selectPaymentMethdo('MOVI')" class="fa-solid fa-wallet"></i>
                    <p class="sale-modal-steps-step-payment-methods-method-description description-text">Movi</p>
                  </div>
                </div>
              </div>
              <button [disabled]="paymentMethodControl.invalid" (click)="nextSaleStep()" class="sale-modal-steps-step-button btn1">VENDER</button>
            </div>
          </div>

          <div *ngSwitchCase="'REGISTER_CUSTOMER'">
            <div class="sale-modal-steps-step">
              <h1 class="sale-modal-steps-step-title title1">Crear Cliente</h1>
              <p class="sale-modal-steps-step-description description-text">Diligencia los siguientes campos con la información de tu cliente</p>
              <div class="sale-modal-steps-step-customer-info">
                <div class="sale-modal-steps-step-customer-info-name">
                  <input [formControl]="costumerNameControl" placeholder="Nombre" class="input1" type="text">
                </div>
                <div class="sale-modal-steps-step-customer-info-phonenumber">
                  <input [formControl]="phoneNumberControl" placeholder="Celular" class="input1" type="text">
                </div>
              </div>
              <button [disabled]="costumerNameControl.invalid || phoneNumberControl.invalid" (click)="nextSaleStep()" class="sale-modal-steps-step-button btn1">VENDER</button>
            </div>
          </div>

          <div *ngSwitchCase="'FINALIZE_SALE'">
            <div class="sale-modal-steps-step">
              <div class="sale-modal-steps-step-confirmation-icon">
                <i class="fa-solid fa-circle-check"></i>
              </div>
              <p class="sale-modal-steps-step-success-message">Registro Exitoso</p>
              <button (click)="nextSaleStep()" class="sale-modal-steps-step-button btn1">FINALIZAR</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
