<div class="cart-container hidden-scroll">
  <div class="cart">
    <div class="cart-header">
      <div class="cart-header-figure">
        <i class="fa-solid fa-cart-shopping cart-header-figure-icon"></i>
        <p class="cart-header-figure-description">Carrito de Compras</p>
      </div>
      <div class="cart-header-total">
        <div class="cart-header-total-content">
          <p class="cart-header-total-content-label">Total</p>
          <p class="cart-header-total-content-value">{{ total | currency:'':'symbol':'0.0-0' }}</p>
        </div>
      </div>
    </div>
    <div class="cart-details hidden-scroll">
      <div class="cart-details-items">
        <div *ngFor="let ci of cartItems" class="cart-details-item">
					<div class="cart-details-item-detail">
						<p class="cart-details-item-detail-name">{{ ci.name }}</p>
						<p class="cart-details-item-detail-price">{{ ci.price | currency:'':'symbol':'0.0-0' }} x{{ ci.addedQuantity }}</p>
					</div>
					<div class="cart-details-item-trash-icon">
						<i  (click)="removeItemFromCart(ci)" class="fa-solid fa-trash-can"></i>
					</div>
				</div>
      </div>
    </div>
    <div class="cart-sale">
      <input [formControl]="phoneNumberControl" class="input1" type="text" placeholder="celular">
      <button (click)="openSaleModal()" [disabled]="false && phoneNumberControl.invalid" class="btn1">VENDER</button>
    </div>
  </div>
</div>


<div id="sale-modal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span data-close class="close">&times;</span>
    <p>Este es el primer modal</p>
  </div>
</div>
