.route-content-wrapper {
  width: calc(100% - (var(--sidenav-width) + var(--cart-width)));
  margin: auto;
}

.route-content-wrapper {
  padding-top: 152px;
}

.sidemenu-back {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

@media (min-width: 851px) {
  .sidemenu-back {
    display: none !important;
  }
}

@media (max-width: 850px) {
  .route-content-wrapper {
    width: 100%;
  }
}

@media (max-width: 670px) {
  .route-content-wrapper {
    padding-top: 97px;
  }
}
