.sidenav {
  margin: 0;
  padding: 0;
  width: calc(var(--sidenav-width) + 10px);
  position: fixed;
  height: 100%;
  overflow-y: scroll;
  z-index: 2;
}

.sidenav-top {
  width: 80%;
  height: 100px;
  background-color: var(--unnamed-color-ff5d54);
  margin-top: 20px;
  border-top-right-radius: 24px;
  box-shadow: 6px 3px 6px #00000029;
  position: relative;
  text-align: center;
  
  img {
    max-width: 100%;
    max-height: 100%;
  }

  i {
    display: none;
    font-size: 20px;
    padding: 8px 10px;
    background: white;
    border-radius: 100%;
    position: absolute;
    right: -11px;
    top: -12px;
    cursor: pointer;
  }
}

.sidenav-navigation {
  width: calc(100% - 10px);
  background-color: white;
  border-top-right-radius: 24px;
  box-shadow: 6px -3px 6px #00000029;
}

.sidenav-navigation-logo {
  padding: 19px 16px 0px 16px;
  text-align: center;
  position: relative;
}

.sidenav-navigation-img {
  img {
    width: 100%;
  }

  position: relative;

  i {
    font-size: 15px;
    padding: 15px;
    background-color: var(--unnamed-color-ff5d54);
    color: white;
    border-radius: 100%;
    position: absolute;
    top: -12px;
    right: -8px;
    cursor: pointer;
  }
}

.sidenav-navigation-links {
  list-style: none;
  padding-left: 0;
  padding-right: 11px;
  margin-bottom: 22px;

  li {
    cursor: pointer;
    padding: 12px 0px 12px 35px;
    font-size: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    color: var(--unnamed-color-ff5d54);
    margin-right: 20px;
    i {
      min-width: 20px;
      margin-right: 10px;
    }
  }

  .active {
    background-color: var(--unnamed-color-ff5d54);
    color: white;
    box-shadow: 0px 3px 6px #00000029;
  }
}

.sidenav-navigation-buttons {
  button {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 12px;
  }
}

@media (max-width: 850px) {
  .sidenav {
    display: none;
  }

  .sidenav-top {
    i {
      display: inherit;
    }
  }
}

@media (min-width: 851px) {
  .sidenav {
    display: initial !important;
  }
}

