/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --unnamed-color-ffffff: #ffffff;
  --unnamed-color-ff5266: #ff5266;
  --unnamed-color-ff905b: #ff905b;
  --unnamed-color-d8d8d8: #d8d8d8;
  --unnamed-color-f4f7ff: #f4f7ff;
  --unnamed-color-6a6e77: #6a6e77;
  --unnamed-color-01b275: #01b275;
  --unnamed-color-fafafa: #fafafa;
  --unnamed-color-00d38a: #00d38a;
  --unnamed-color-a5a5a5: #a5a5a5;
  --unnamed-color-da58e5: #da58e5;
  --unnamed-color-9a43ff: #9a43ff;

  /* usados */
  --unnamed-color-ff885c: #ff885c;
  --unnamed-color-ff5353: #ff5353;
  --unnamed-color-ff5d54: #ff5d54;
  --unnamed-color-404040: #404040;
  --unnamed-color-efefef: #efefef;
  --unnamed-color-f20000: #f20000;
  --unnamed-color-f4f4f4f: #f4f4f4f;

  --sidenav-width: 220px;
  --cart-width: 220px;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.content-wrapper {
  margin: 20px;
}

.btn1 {
  border: none;
  border-radius: 30px;
  padding: 18px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  background: var(--unnamed-color-ff5d54);
  box-shadow: 0px 3px 6px #00000029;
}

.input1 {
  border: 1px solid var(--unnamed-color-ff5d54);
  color: var(--unnamed-color-404040);
  border-radius: 8px;
  height: 56px;
  font-size: 21px;
  padding: 0px 20px;
}

.input1:focus {
  outline: none;
}

.input1::placeholder {
  color: var(--unnamed-color-ff5d54);
}

.hidden-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hidden-scroll::-webkit-scrollbar {
  display: none;
}
